.Footer {
  direction: rtl;
  text-align: center;
  background-color: #424242;
  color: #fafafa;
}

.credit {
  background-color: #ffffff;
  width: 100%;
  color: #000000;
}

.Footer-flexbox {
  width: 100%;
  font-size: calc(10px + 1vmin);
  font-family: Heebo, sans-serif;
  padding-left: 3vh;
  padding-right: 3vh;
  direction: rtl;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  .credit {
    background-color: #010101;
    color: #fefefe;
  }
}
