@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

.Footer {
  direction: rtl;
  text-align: center;
  background-color: #424242;
  color: #fafafa;
}

.credit {
  background-color: #010101;
  width: 100%;
  color: #fefefe;
}

.Footer-flexbox {
  width: 100%;
  font-size: calc(10px + 1vmin);
  font-family: Heebo, sans-serif;
  padding-left: 3vh;
  padding-right: 3vh;
  direction: rtl;
  display: flex;
  flex-direction: column;
}
