.ImageContainer-text{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

@font-face {
  font-family: "aharonibold";
  src: url("../res/ahronbd.woff2") format("woff2"),
    url("../res/ahronbd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.ImageContainer-text-title {
  font-family: 'aharonibold', Arial, Helvetica, sans-serif;
  font-size: 32;
  text-align: center;
}

.IC-Modal-Dialogue {
  font-family: Arial, Helvetica, sans-serif;
}

.IC-Modal {
  direction: rtl;
  text-align: right;
}

