@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

.ImageContainer-text {
  font-family: Heebo, sans-serif;
  text-align: center;
}

@font-face {
  font-family: "aharonibold";
  src: url("../res/ahronbd.woff2") format("woff2"),
    url("../res/ahronbd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.ImageContainer-text-title {
  font-family: "aharonibold", sans-serif;
  margin-top: 3vh;
  font-size: 24pt !important;
  text-align: center;
}

.IC-Modal-Dialogue {
  font-family: Heebo, sans-serif;
}

.IC-Modal {
  direction: rtl;
  text-align: right;
}
