@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

.Home-image {
  width: 100%;
}

.Home-Highlights {
  text-align: center;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  direction: rtl;
  padding: 15px;
  width: 100%;
}

.Home-Highlights > div {
  margin: 30px;
  flex: 1;
}

.Map-Title {
  font-family: Heebo, sans-serif;
  direction: rtl;
}

.Map-Box {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.Map-Box > div {
  flex: 1;
}

.About-Wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 20vw;
  padding-right: 20vw;
  direction: rtl;
  font-family: Heebo, sans-serif;
}

.Gallery-CC {
  padding: 30px;
  width: 75%;
  height: 75%;
}

@keyframes fade {
  from {
    opacity: 0;
    top: -5vh;
    width: 25vw;
    height: 25vw;
  }
  to {
    opacity: 1;
    top: 0;
    width: 30vw;
    height: 30vw;
  }
}

.About-Promo-Image {
  width: 25vw;
  height: 25vw;
  padding: 30px;
  margin: auto;
  text-align: center;
  opacity: 0;
  top: -1vh;
  position: relative;
  animation: fade;
  animation-duration: 0.6s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.Map-Addr {
  font-family: Heebo, sans-serif;
}

.Gallery-Wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .Home-Highlights {
    flex-direction: column;
  }

  .Map-Box {
    direction: rtl;
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
  }

  .About-Promo-Image {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  .App {
    background-color: #010101;
    color: #fefefe;
  }
}
