.App {
  text-align: center;
}

.App-logo {
  width: 25%;
  pointer-events: none;
}

.App-header {
  background-color: #FAFF19;
  min-height: 5vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #210281;
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header-lower {
  background-color: #424242;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FAFAFA;
  direction: rtl;
  font-family: 'aharonibold', Arial, Helvetica, sans-serif;
}

.App-FB-Icon {
  width: 3vh;
  filter: invert(98%) sepia(100%) saturate(6%) hue-rotate(211deg) brightness(100%) contrast(103%);
}

.App-link {
  color: #61dafb;
}

.Header-menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0vh;
}


.Header-menu-options {
  display: flex;
  flex-direction: row;
}

.Header-menu-options > div {
  text-align: center;
  margin:3vh;
}

.Header-menu-options-alt {
  text-align: left;
}



.App-logo-wash {
  height: 75%;
  padding-top: 15px;
  width: 75%;
}

.WhiteLinks{
  color: #fafafa;
}

.WhiteLinks:hover {
  color: #fafafa;
}

@font-face {
  font-family: "aharonibold";
  src: url("./res/ahronbd.woff2") format("woff2"),
    url("./res/ahronbd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}