.App {
  text-align: center;
}

.App-logo {
  width: 25%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color: #FAFF19;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #210281;
}

.App-link {
  color: #61dafb;
}

.Header-menu {
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 768px) {
  .App-logo {
    width: 50%;
  }
}

.Logo-cell {
  width: 30%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
