.App {
  text-align: center;
}

.App-logo {
  width: 25%;
}

.App-FB-Icon {
  width: 3vh;
  filter: invert(98%) sepia(100%) saturate(6%) hue-rotate(211deg)
    brightness(100%) contrast(103%);
}

.App-link {
  color: #61dafb;
}

.Header-menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0vh;
}

.Header-menu-options {
  display: flex;
  flex-direction: row;
}

.Header-menu-options > div {
  text-align: center;
  margin: 3vh;
}

.Header-menu-options-alt {
  text-align: left;
}

.App-logo-wash {
  height: 50px;
}

.WhiteLinks {
  color: #fafafa;
}

.WhiteLinks:hover {
  color: #fafafa;
}

.bs-navbar-cwc {
  direction: rtl;
  background-color: #faff19;
  font-family: Heebo, sans-serif;
  color: #210281;
}

#desktop-only {
  display: flex;
  flex-direction: row;
}

#display-fix {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  #desktop-only {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #mobile-only {
    display: none;
  }
}

.burger-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 18pt;
  background-color: #faff19;
  font-family: Heebo, sans-serif;
}

.burger-wrapper > a {
  flex: 1;
  border-bottom: 0.25px solid #545454;
}

.burger-wrapper > a:nth-child(1) {
  border-top: 0.5px solid #545454;
}

@font-face {
  font-family: "aharonibold";
  src: url("./res/ahronbd.woff2") format("woff2"),
    url("./res/ahronbd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
