body {
  margin: 0;
  font-family: Heebo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Index-image {
  width: 100%;
}

.Index-Highlights {
  text-align: center;
  display: flex;
  flex-direction: row;
  direction: rtl;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  .Index-Highlights {
    flex-direction: column;
  }
}

.Index-Highlights > div {
  margin: 30px;
}

#root {
  height: 100%;
}

.wrapper {
  min-height: 100vh !important;
  display: grid !important;
  grid-template-rows: 1fr auto !important;
}

@font-face {
  font-family: "aharonibold";
  src: url("./res/ahronbd.woff2") format("woff2"),
    url("./res/ahronbd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3 {
  direction: rtl;
  font-family: "aharonibold", sans-serif;
}
